<div class=" headerComponent container-fluid">
  <h1>Selected Filters</h1>
  <select
    
      name="sortbox"
      [ngModel]="sortOrder"
      (ngModelChange)="valueChanged($event)"
      class="float-right form-control"
      placeholder="Sort by Id"
    >
      <option value="ascending">Ascending</option>
      <option value="descending">Descending</option>
    </select>

  <!-- <p>Search by name</p>
  <div class="pull-left">
    <input type="text" name="name" />
    <button [(ngModel)]="nameSearch">Search</button>

    <select
      name="sortbox"
      [ngModel]="sortOrder"
      (ngModelChange)="valueChanged()"
      class="float-right"
    >
      <option value="ascending">Ascending</option>
      <option value="descending">Descending</option>
    </select>
  </div> -->
</div>
