.card-body {
  background-color: rgba(27, 27, 28, 0.9);
  color: #ffffff;
  min-height: 170px;
}
.overlay {
  position: absolute;
  top: 191px;
  width: 100%;
  background-color: rgba(27, 27, 28, 0.7);
  color: #ffffff;
  padding-left: 10px;
}
.card-body table tr {
  border-bottom: 1px solid #4d4d4d;
}

.card-body table tr:last-child {
  border-bottom: none;
}
.cardColumn {
  margin-bottom: 15px;
  margin-top: 15px;
}
.cardRow {
  background-color: #000000;
}
button{
  margin: 10px;
}
img{
  width: 100%;
}
.card{
  position: relative;
}
.mycolor{
  color: red;
}
