<div>
  <div class="species box">
    <p>Species</p>
    <ul>
      <li><input type="checkbox" />Human</li>
      <li><input type="checkbox" />Mytholog</li>
      <li><input type="checkbox" />Other species</li>
    </ul>
  </div>
  <div class="gender box">
    <p>Gender</p>
    <ul>
      <li><input type="checkbox"  />Male</li>
      <li><input type="checkbox" />Female</li>
    </ul>
  </div>
  <div class="origin box">
    <p>Origin</p>
    <ul>
      <li><input type="checkbox" />Unknown</li>
      <li><input type="checkbox" />Post-Apocalyptic</li>
      <li><input type="checkbox" />Nuptia 4</li>
      <li><input type="checkbox" />Other Origins...</li>
    </ul>
  </div>
</div>
<div *ngIf="isFilteredByStatus()">

</div>